.item{
    width: 350px;
}
.item p{
    margin: 6px 0px;
    padding-left: 50px;
}
.item-prices{
    display: flex;
    gap: 20px;
    padding-left: 30px;
}
.item-price-new{
    color:#374151 ;
    font-size: 18px;
    font-weight: 600;
    padding-left: 30px;
}
.item-price-old{
   color: #8c8c8c;
   font-size: 18px;
   font-weight: 500;
   text-decoration: line-through;
   padding-left: 30px;
}
.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}